@model BusinessAccessLayer.ViewModels.CashierVM
@{
    SelectList BranchesList = new SelectList(Model.Branches, "ID", "BranchName");
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">إضافة كاشير جديد</h1>

            <form asp-action="Add" method="post" >
                <div class="form-group">
                    <label asp-for="CashierName">اسم الكاشير:</label>
                    <input asp-for="CashierName" class="form-control"/>
                    <span asp-validation-for="CashierName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BranchID">الفرع:</label>
                    <select asp-for="BranchID" asp-items="BranchesList" class="form-control">
                        <option value="">أختر فرع</option>
                    </select>
                    <span asp-validation-for="BranchID" class="text-danger"></span>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">إضافة كاشير</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}